@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your CSS file (e.g., App.css or global.css) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}